<!DOCTYPE html>
<html lang="en">

<head>
	<title>OrgSite</title>
	<meta charset="utf-8" name="viewport" content = "width=device-width, initial-scale=1.0">
	{% load staticfiles %}
	<!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>-->
	<link rel="stylesheet" href="{% static 'css/header.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/home.css' %}" type = "text/css"/>

	<script type="text/javascript" href="{% static 'js/header.js' %}"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div id="navbar" class="navbar navbar-fixed-top ">
		<nav class="navbar">
			<div class="container-fluid">
				<!--<img src="{% static 'img/UP_Logo.png' %}" class="responsive-img" href="#">-->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">UNISO</a>
				</div>		
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-center">
						<li class="active"><a href="#">HOME</a></li>
						<li><a href="#">ORGANIZATIONS</a></li>
						<li><a href="#">ACTIVITIES</a></li>
						<li><a href="#">VENUES</a></li>
					</ul>
				</div>

			</div>
		</nav>
	</div>

	<div>
		{% block content %}
		{% endblock %}	
	</div>

</body>

</html>
