{% extends "index.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type = "text/css"/>
{% endblock %}

{% block content %}
    <header>
        <div class="intro">
            <h1><span>ORGANIZATION SITE</span><br>UNISO cares. XD</h1>
        </div>
    </header>

    <section id="organizations">
        <input type="text" id="search-input" onkeyup="searchOrg()" placeholder="Search for orgs..">

        <div class="sort-buttons">
            <button type="button" class="btn btn-warning btn-xs" onclick="showAll()">All</button>
            <button type="button" class="btn btn-warning btn-xs" onclick="byCategory('SPORTS')">Sports</button>
            <button type="button" class="btn btn-warning btn-xs" onclick="byCategory('COURSE-BASED')">Course-based</button>
            <button type="button" class="btn btn-warning btn-xs" onclick="byCategory('BATCH')">Batch</button>
        </div>

        <div class="org-list-content">
            <ul class="list-unstyled" id="org-list">
                {% for org in orgs %}
                <li type="button" class="org-list-item btn btn-default">
                    <div class="row">
                        <div class="org-logo col-sm-3">
                        {% if org.logo %}
                            <img class="img-responsive img-thumbnail" height="100%" id="org-logo" src="{{ org.logo.url }}" >
                        {% endif %}
                        </div>
                        <div class="text-center col-sm-6">
                            <a class="org-a" href="#">{{ org.shortcut }}</a>
                            <input type="hidden" value="{{ org.category }}">
                            <input type="hidden" value="{{ org.Org_Name }}">
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}