.intro {
    text-align: center;
    background-color: #2E86C1;
    color: white;
    padding-top: 110px;
    min-height: 500px;
    margin: 0;
    overflow: auto;
}

#organizations {
    background-color: #F7DC6F;
}

section {
    padding: 50px;
    width: 100%;
    height: 100%;
    margin: 0;
}