a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: blue;
}

.row {
    padding: 0;
}



.intro {
    text-align: center;
    background-color: #2E86C1;
    color: white;
    vertical-align: center;
    margin: 0;
    overflow: auto;
    padding-bottom: 50px;
}

#organizations {
    background-color: #EFF0EB;
}

.org-a {
    color: black;
}

.org-logo {
    padding: 0px;
}

.btn {
    padding: 5px;
    min-width: 60px;
}

.sort-buttons {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.org-list-item {
    background-color: transparent;
    
}

.row{
    border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
float: left;
}

.text-center {
    padding: 0px;
}

textarea:focus,
input[type="text"]:focus, input[type="password"]:focus
{   
  /*border-color: rgba(52, 219, 11);
  box-shadow: 0 1px 1px rgba(255, 255, 255) inset, 0 0 5px rgba(52, 219, 11);
  outline: 0 none;*/
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.5));
}

#search-input {
    background-image: url('../img/searchicon.png');
    background-size: 25px;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 10px;

}

#org-list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

td {
    height: 100%;
}


@media only screen and (min-width : 280px) {
    .list-unstyled {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
}

@media only screen and (min-width : 320px) {
    section {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .intro {
        padding-top: 100px;
        min-height: 250px;
    }

    .intro > h1 {
        font-size: 25px;
    }

    .list-unstyled {
        columns: 4;
        -webkit-columns: 4;
        -moz-columns: 4;
    }


}

@media only screen and (min-width : 600px) {
    .intro {
        padding-top: 120px;
        min-height: 350px;
    }

    .intro > h1 {
        font-size: 30px;
    }

    .list-unstyled {
        columns: 5;
        -webkit-columns: 5;
        -moz-columns: 5;
    }

    .org-list-item {
        margin-top: 5px;
    }

    .org-a {
        font-size: 20px;
    }

    .org-list-item {
        vertical-align: middle; 
        height: 100%;
    }

}


@media only screen and (min-width : 992px) {
    section {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .intro {
        padding-top: 180px;
        min-height: 500px;
    }

    .intro > h1 {
        font-size: 40px;
    }

    .list-unstyled {
        columns: 5;
        -webkit-columns: 5;
        -moz-columns: 5;
    }

    .org-a {
        font-size: 30px;
    }

    .org-list-item {
        vertical-align: middle; 
        height: 100%;
        padding: 5px;
    }

}

#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: white;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: white;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url('../img/uniso_cover_1.png');
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-image: url('../img/uniso_cover_1.png');
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-image: url('../img/uniso_cover_1.png');
      background-size: cover;
    background-repeat: no-repeat;
}
/*#first-slider .slide4 {
  background-image: url(http://s20.postimg.org/66pjy66dp/image.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}*/




/********************************/
/*          Media Queries       */
/********************************/
/*@media screen and (min-width: 980px){
      
}
@media screen and (max-width: 640px){
      
}*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
