.navbar {
  position: absolute;
  background-color: #154360 ;
  background: #154360;
  border-color: #154360;
  padding-top: 0px;
  margin-bottom: 0 !important;
  box-shadow: 0px 0px 10px 1px black;
}


ul.nav li a {
  display: inline-block;

  text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FB5816;
}



@media only screen and (max-width : 790px) {
  ul.nav li {
    margin: -5px;
  }

}
