body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
  position: absolute;
  background-color: #EFF0EB;
  background: #EFF0EB;
  border-color: #EFF0EB;
  padding-top: 0px;
  margin-bottom: 0 !important;

  box-shadow: 5px 0px 10px 2px black;
}

.navbar a {
  color: darkgreen;
}

ul.nav li a {
  color: darkgreen;
  display: inline-block;

  text-decoration: none;
}

ul.nav li a::after {
    background: darkgreen;
}

ul.nav li a:hover {
  background-color: transparent;

}

@media only screen and (max-width : 790px) {
  ul.nav li {
    margin: -5px;
  }

}
