body {
  background-color: #154360;
}

.dropdown-menu.dropdown-menu-right {
  background-color:   #154360;
  color: white;
}

.navbar a {
  color: white;
}

.navbar {
  position: fixed;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  padding-top: 10px;
  margin-bottom: 0 !important;

}

/*.navbar-default .navbar-toggle {
  border-color: white;
}*/

.navbar-center {
   /*position: absolute;*/
   display: inline-block;
   /*right: 50%;
   transform: translatex(100%);
   text-align: center;*/

}

/*.navbar-brand {
  color: black;
}*/

.responsive-img {
    max-height: 50px;
    min-height: 80px;
}

ul.nav li a {
  color: white;
  display: inline-block;

  text-decoration: none;
  padding: 5px;
  margin: 10px;

  /*text-shadow: 2px 2px 4px gray;*/
}

/*ul.nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}*/

.nav .base:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    top: 0;
    left: 50%;
    width: 0;
    border-bottom: 0.10em solid white;
    border-top: 0.10em solid white;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav .base:hover:after {
    width: 100%;
    left: 0;
    right: 0;
    cursor: pointer;
}

/*ul.nav li a:hover::after {
    width: 100%;
    
    transition: width .3s;
}*/

ul.nav li a:hover {
  background-color: transparent;

}

@media only screen and (max-width : 790px) {
  ul.nav li {
    margin: -5px;
  }

}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 20px;
  clear:both;
  padding-top:20px;
}


.smooth-trans {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}